@import "../../../shared/styles/variables";

.form {
  margin-top: 0;
  max-width: 640px;
  .form-group {
    margin-bottom: 30px;
    .form-title {
      display: flex;
      margin-bottom: 20px;
      b {
        font-size: 16px;
        line-height: 16px;
        color: #252525;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: block;
        font-style: normal;
        font-weight: bold;
      }
      h5 {
        line-height: 28px;
        vertical-align: middle;
        display: inline-block;
        font-weight: bold;
      }
    }
    .number-title {
      position: relative;
      color: #252525;
      border-radius: 5px;
      margin-right: 15px;
      background-color: $primary;
      vertical-align: middle;
      display: inline-block;
      width: 28px;
      height: 28px;
      line-height: 28px;
    }
    .cabinet_address-wrap {
      margin-bottom: 30px;
      .cabinet_address {
        width: 100%;
        border-collapse: collapse;
        font-size: 16px;
        td {
          border-top: 1px solid #dcdcdc;
          border-bottom: 1px solid #dcdcdc;
          height: 80px;
          padding: 15px 5px;
          vertical-align: middle;
        }
        td:first-child {
          width: 20%;
          padding-left: 20px;
        }
        td:nth-child(2) {
          width: 52%;
        }
        td:nth-child(3) {
          width: 23%;
          .link-icon {
            display: inline-block;
            position: relative;
            color: #6d6d6d;
            cursor: pointer;
            transition: 0.35s;
            background: none;
            border: none;
          }
          .link-icon:hover {
            opacity: .7;
          }
          .link-icon:before {
            content: "";
            position: relative;
            display: inline-block;
            width: 18px;
            height: 18px;
            background-image: url('../../../../../images/icon-edit.svg');
            background-repeat: no-repeat;
            margin-right: 8px;
            vertical-align: text-bottom;
          }
        }
        td:last-child {
          padding-right: 0;
          text-align: right;
          width: 5%;
          .btn-close {
            width: 0.3em;
            height: 0.3em;
            cursor: pointer;
          }
        }
      }
    }
  }
  .cabinet_address-buttons {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between
  }
  .input {
    margin-bottom: 20px;
  }
  .btn {
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    border: none;
    background: none;
    -webkit-transition: .35s;
    transition: .35s;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    padding: 16px 22px;
    border-radius: 10px;
    color: #252525;
  }
  .btn-fix-2 {
    max-width: 257px;
    width: 100%;
  }
  .btn-four {
    border: 2px solid $primary;
    background: #fff;
  }
  .btn-four:hover {
    background: $primary;
  }
  .btn-primary {
    border: 2px solid $primary;
    background: $primary;
  }
  .btn-primary:hover {
    background: #fff;
  }
}

.popup-container {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  position: relative;
  text-align: left;
  background: #fff;
  border-radius: 10px;
  .popup-align {
    padding: 50px 60px 45px 60px;
    overflow: hidden;
    .popup-title {
      margin-bottom: 5px;
    }
    .form {
      margin-top: 40px;
      margin-bottom: 20px;
      .input:focus {
        border-color: $primary;
      }
      .btn-block {
        display: block;
        width: 100%;
      }
      .btn:disabled {
        pointer-events: none;
        border-color: #dcdcdc;
        background: #dcdcdc;
      }
    }
  }
  .btn-close {
    position: absolute;
    right: 5px;
    top: 5px;
  }
}
.popup-container.size-1 {
  max-width: 600px;
}

input, textarea, select {
  border-radius: 0;
  background: none;
  border: none;
  margin: 0;
  width: 100%;
  padding: 0;
}
.input {
  font-size: 16px;
  height: 56px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  color: #252525;
  line-height: 56px;
  padding: 0 20px 0 23px;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  text-overflow: ellipsis;
}
h5, .h5 {
  font-size: 20px;
  line-height: 1.75em;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  color: #252525;
}
.title {
  color: #252525;
  font-weight: bold;
}
:focus,
:hover,
:active,
:visited {
  outline: none;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 600px;
  }
}
@media (max-width: 768px) {
  .form {
    margin-top: 60px;
  }
}
@media (max-width: 576px) {
  .form {
    .btn-fix-2 {
      max-width: max-content;
    }
    .btn {
      font-size: 14px;
      line-height: 14px;
      padding: 16px 20px;
      border-radius: 5px;
      border-width: 1px;
    }
  }
  .popup-container {
    .popup-align {
      padding: 70px 30px 50px;
      .form {
        margin-top: 20px;
        margin-bottom: 0;
      }
    }
  }
  .input {
    font-size: 14px;
    height: 46px;
    border-radius: 5px;
    line-height: 46px;
    padding: 0 10px 0 13px;
  }
}
@media (max-width: 370px) {
  .form {
    .btn {
      font-size: 12px;
      line-height: 14px;
      padding: 16px 20px;
      border-radius: 5px;
      border-width: 1px;
    }
  }
}

