<div class="row">
    <div class="col-12">
        <button _ngcontent-ahf-c68="" data-rel="4" class="btn btn-fix-2 btn-primary btn-block" (click)="openAddCategory()">Додати категорію</button>
        <div class="col-11 col-md-9" *ngIf="addStatus">
            <form [formGroup]="categoryForm" class="form" id="user-edit-password" (ngSubmit)="addCategory()">
                <div class="box-button-1">
                    <input type="text" formControlName="name" name="name" placeholder="*Назва" class="input" required="" (blur)="blurName()" [ngClass]="{'red': isRedName}">
                    <input type="text" formControlName="path" name="path" placeholder="*Шлях" class="input" required="" (blur)="blurPath()" [ngClass]="{'red': isRedPath}">
                </div>
                <ng-container *ngIf="!isUploaded">
                    <input type="file" class="input" (change)="upload($event)">
                    <div class="progress mb-3">
                        <div class="progress-bar progress-bar-striped" role="progressbar"
                        [style.width.%]="uploadPercent"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </ng-container>
                <ng-container *ngIf="isUploaded">
                    <div class="delete-image">
                        <img [src]="valueByControl('imagePath')" alt="" class="mb-3" style="width: 100px">
                        <button type="button" class="btn mb-3" (click)="deleteImage()">Видалити файл</button>
                    </div>
                </ng-container>
                <div class="cabinet_address-buttons">
                    <button class="btn btn-fix-2 btn-primary btn-block" type="submit"
                    [disabled]="categoryForm.invalid"> {{ editStatus ? 'Зберегти зміни' : 'Зберегти' }} </button>
                </div>
            </form>
        </div>
        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Назва</th>
                    <th scope="col">Шлях</th>
                    <th class="insible" scope="col">Картинка</th>
                    <th scope="col">Дії</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of adminCategories">
                    <td class="insible"> {{ category.id }} </td>
                    <td> {{ category.name }} </td>
                    <td style="color: #252525">
                        {{ category.path }}
                    </td>
                    <td>
                        <img [src]="category.imagePath" alt="" height="50px">
                    </td>
                    <td>
                        <div class="box-button-2">
                            <button (click)="editCategory(category)" type="button" class="edit">Редагувати</button>
                            <button [disabled]="editStatus" (click)="deleteCategory(category)" type="button" class="delete">Видалити</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
