@import "../../shared/styles/variables";

footer {
    border-top: 4px solid #b5d8f7;
    margin-top: auto;
    .footer-inner {
        max-width: 1920px;
        margin: 0 auto;
        padding: 0;
        .footer-top {
            margin: 0 35px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 20px 0;
            .logo {
                max-width: 136px;
                img {
                    display: block;
                    width: 100%;
                }
            }
            .menu-list {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                li+li {
                    margin-left: 55px;
                }
                a {
                    font-size: 16px;
                    line-height: 1em;
                    color: #252525;
                    -webkit-transition: 0.35s;
                    -o-transition: 0.35s;
                    transition: 0.35s;
                }
                a:hover {
                    color: $primary;
                }
            }
            .footer-info {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                max-width: 43%;
                width: 100%;
                line-height: 1.25em;
                b {
                    font-weight: 400;
                }
                .s-delivery-address {
                    font-size: 14px;
                    color: #5a5a5a;
                    text-align: center;
                }
                .order-phone {
                    @extend .s-delivery-address;
                    a {
                        display: block;
                        b:hover {
                            color: $primary;
                        }
                    }
                }
                .work-time {
                    @extend .s-delivery-address;

                }
            }
            .social {
                display: none;
            }
        }
        .footer-bottom {
            margin: 0 35px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin-bottom: 20px;
            .copyright {
                font-size: 12px;
                color: #5a5a5a;
                white-space: nowrap;
                p {
                    display: inline-block;
                    margin-right: 40px;
                }
            }
            .pay-cards {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                .pay-card-item {
                    position: relative;
                    width: 56px;
                    height: 33px;
                    border: 1px solid #dcdcdc;
                    border-radius: 5px;
                    display: inline-block;
                    img {
                        max-width: 30px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        -webkit-transform: translate(-50%,-50%);
                        -ms-transform: translate(-50%,-50%);
                        transform: translate(-50%,-50%);
                    }
                }
                .pay-card-item+.pay-card-item {
                    margin-left: 5px;
                }
            }
            .social {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                span {
                    margin-right: 20px;
                    font-size: 14px;
                    color: #252525;
                }
                ul {
                    display: flex;
                    li+li {
                        margin-left: 5px;
                    }
                    .icon-btn {
                        display: block;
                        width: 49px;
                        height: 49px;
                        background: #b5d8f7;
                        border: 2px solid #b5d8f7;
                        border-radius: 10px;
                        position: relative;
                        -webkit-transition: 0.35s;
                        -o-transition: 0.35s;
                        transition: 0.35s;
                        img {
                            width: 18px;
                            height: 18px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            -webkit-transform: translate(-50%,-50%);
                            -ms-transform: translate(-50%,-50%);
                            transform: translate(-50%,-50%);
                        }
                    }
                    .icon-btn:hover {
                        background: transparent;
                    }
                }
            }
            .developer {
                a {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                    justify-content: space-between;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-transition: 0.35s;
                    -o-transition: 0.35s;
                    transition: 0.35s;
                }
                a:hover {
                    color: #0a58ca;
                }
                a.footer-dev-logo {
                    position: relative;
                    span {
                        margin-right: 15px;
                        font-size: 14px;
                        font-weight: 400;
                        -webkit-transition: 0.35s;
                        -o-transition: 0.35s;
                        transition: 0.35s;
                    }
                }
                a.footer-dev-logo::before {
                    background-image: url('https://monosushi.com.ua/wp-content/themes/monosushi/img/redstone-icon-black.svg');
                    background-color: #ffffff;
                    background-repeat: no-repeat;
                    width: 75px;
                    background-position: right center;
                    background-size: 100%;
                    content: '';
                    right: 12px;
                    top: 0px;
                    position: absolute;
                    height: 100%;
                }
            }
        }
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
b, strong {
    font-weight: bold;
    color: #252525;
}
p {
    margin: 0;
}

@media (max-width: 991px) {
  footer .footer-inner  .footer-top {
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0 15px;
    padding: 15px 0;
    .menu-list, .logo {
      margin: 0 auto;
    }
    .menu-list li+li {
      margin-left: 25px;
    }
    .logo {
      max-width: 110px;
    }
    .footer-info {
      width: 100%;
      max-width: 100%;
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      margin: 0 auto;
      margin-top: 15px;
    }
    .footer-info>* {
      line-height: 1.5em;
      font-size: 14px;
    }
  }
  footer .footer-inner .footer-bottom {
    margin: 0 15px;
    margin-bottom: 15px;
    .social ul .icon-btn {
      width: 35px;
      height: 35px;
      img {
        width: 14px;
        height: 14px;
      }
    }
  }
}

@media (max-width: 767px) {
  footer .footer-inner .footer-top {
    .menu-list {
      -webkit-box-ordinal-group: 2;
      order: 1;
      width: 100%;
      flex-basis: 100%;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      margin-top: 10px;
      li+li {
        margin-left: 0;
      }
      a {
        font-size: 14px;
      }
    }
    .footer-info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: 10px;
    }
    .footer-info>*+* {
      margin-left: 0;
      margin-top: 5px;
    }
    .social {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      flex-basis: 100%;
      margin-top: 15px;
      span {
        display: none;
      }
      ul {
        display: flex;
        li+li {
          margin-left: 5px;
        }
        .icon-btn {
          display: block;
          width: 35px;
          height: 35px;
          background: $primary;
          border: 2px solid $primary;
          border-radius: 10px;
          position: relative;
          -webkit-transition: 0.35s;
          -o-transition: 0.35s;
          transition: 0.35s;
          img {
            width: 14px;
            height: 14px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
          }
        }
        .icon-btn:hover {
          background: transparent;
        }
      }
    }
  }
  footer .footer-inner .footer-bottom {
    margin: 0 15px 15px;
    flex-wrap: wrap;
    .social {
      display: none;
    }
    .copyright {
      -webkit-box-ordinal-group: 2;
      order: 1;
      p {
        display: block;
        line-height: 1em;
        margin-right: 0;
      }
    }
    .pay-cards {
      margin: 0 auto;
      display: inline-block;
      text-align: center;
      width: 100%;
      margin-bottom: 15px;
      -webkit-box-ordinal-group: 1;
      order: 0;
      .pay-card-item {
        vertical-align: middle;
        img {
          max-width: 30px;
        }
      }
    }
    .developer {
      -webkit-box-ordinal-group: 2;
      order: 1;
      a {
        -webkit-box-pack: end;
        justify-content: flex-end;
      }
    }
  }

}
