@import '../../shared/styles/variables';

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 95px;
    z-index: 100;
    background-color: #fff;
    -webkit-transition: .35s;
    transition: .35s;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0);
}
.header.scrolled {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.05);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.05);
}

.sushi-brand {
    display: inline-flex;
    align-items: center;
    width: 166px;
    height: 95px;
    padding: 15px;
    background-color: $primary;

    img {
        width: 100%;
        height: max-content;
    }
}


.header-nav-wrapper {
    position: relative;
    .main-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-left: 50px;
    }
    @media (max-width: 1699px) {
        .main-nav {
            margin-left: 15px;
        }
    }
    .main-nav li {
        width: 99px;
        height: 85px;
        border: 2px solid transparent;
        border-radius: 10px;
        -webkit-transition: .35s;
        transition: .35s;
        text-transform: capitalize;
        text-align: center;
    }
    .main-nav li+li {
        margin-left: 5px;
    }
    @media (max-width: 1599px) {
        .main-nav li {
            width: 75px;
            height: 70px;
        }
    }
    ul {
        margin: 0;
        padding: 0;
    }
    .main-nav div {
        position: absolute;
        left: 50%;
        bottom: 9px;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        -webkit-transition: .35s;
        transition: .35s;
    }
    .main-nav a {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
    }
    .main-nav img {
        display: block;
        margin: 0 auto;
    }
    @media (max-width: 1599px) {
        .main-nav img {
            width: 28px;
            height: 30px;
        }
    }
    .main-nav span {
        display: block;
        font-size: 16px;
        font-weight: bold;
        color: #252525;
        margin-top: 4px;
    }
    @media (max-width: 1599px) {
        .main-nav span {
            font-size: 14px;
            margin-top: 4px;
            line-height: 1em;
        }
    }
}


ul,
ol {
    list-style: none;
}

:focus,
:hover,
:active,
:visited {
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
    -webkit-transition: .35s;
    transition: .35s;
    cursor: pointer;
}
.burger-menu {
    border: 2px solid transparent;
    border-radius: 10px;
    -webkit-transition: .35s;
    transition: .35s;
    margin-right: auto;
    margin-left: 15px;
}
.border-1 {
    -webkit-transition: 0.35s;
    transition: 0.35s;
    position: relative;
    cursor: pointer;
}
.border-1::before {
    top: 0;
    left: 0;
    border-top-color: transparent;
    border-right-color: transparent;
}
.border-1::after {
    bottom: 0;
    right: 0;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.border-1::before,
.border-1::after {
    content: "";
    position: absolute;
    z-index: -1;
    border: 2px solid transparent;
    width: 0;
    height: 0;
    border-radius: 7px;
}
.burger-menu.active .hamRotate {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.ham {
    position: relative;
    z-index: 2;
    display: block;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: -webkit-transform 400ms;
    transition: -webkit-transform 400ms;
    transition: transform 400ms;
    transition: transform 400ms, -webkit-transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 50px;
    height: 48px;
}
.burger-menu.active .ham8 .top {
    stroke-dashoffset: -64px;
}
.ham8 .top {
    stroke-dasharray: 40 80;
}
.line {
    fill: none;
    -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #252525;
    stroke-width: 5.5;
    stroke-linecap: round;
}
.burger-menu.active .ham8 .middle {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.ham8 .middle {
    stroke-dasharray: 40 72;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition: -webkit-transform 400ms;
    transition: -webkit-transform 400ms;
    transition: transform 400ms;
    transition: transform 400ms, -webkit-transform 400ms;
}
.burger-menu.active .ham8 .bottom {
    stroke-dashoffset: -64px;
}
.ham8 .bottom {
    stroke-dasharray: 40 68;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition: stroke-dashoffset 400ms, -webkit-transform 400ms;
    transition: stroke-dashoffset 400ms, -webkit-transform 400ms;
    transition: transform 400ms, stroke-dashoffset 400ms;
    transition: transform 400ms, stroke-dashoffset 400ms, -webkit-transform 400ms;
}
@media (hover: hover) and (min-width: 1200px),
(-ms-high-contrast:none) {
    .border-1:hover::before {
        border-top-color: $primary;
        border-right-color: $primary;
        -webkit-transition: width 0.1s ease-out, height 0.1s ease-out 0.1s;
        transition: width 0.1s ease-out, height 0.1s ease-out 0.1s;
    }
    .border-1:hover::after {
        border-bottom-color: $primary;
        border-left-color: $primary;
        -webkit-transition: border-color 0s ease-out 0.12s, width 0.15s ease-out 0.15s, height 0.25s ease-out 0.25s;
        transition: border-color 0s ease-out 0.12s, width 0.15s ease-out 0.15s, height 0.25s ease-out 0.25s;
    }
    .border-1:hover::before,
    .border-1:hover::after {
        width: 100%;
        height: 100%;
    }
}

.burger-menu.active .secondary-nav {
    opacity: 1;
    visibility: visible;
    padding: 88px 25px 20px 25px;
}
.burger-menu .secondary-nav {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    left: -30px;
    top: -25px;
    padding: 28px 25px 0px 25px;
    background: #fff;
    border: 2px solid #b5d8f7;
    border-radius: 10px;
    -webkit-transition: .35s;
    transition: .35s;
}
.burger-menu .secondary-nav li {
    max-width: 230px;
    white-space: nowrap;
}
.burger-menu .menu-item {
    display: block;
    width: 100%;
    font-weight: bold;
    color: #252525;
    font-size: 16px;
    line-height: 1em;
    padding: 12px 16px;
    border: 2px solid transparent;
    border-radius: 10px;
}
.secondary-nav .menu-item:hover {
    outline: 2px solid $primary;
}
.navbar-nav .nav-item .nav-link {
    border: 2px solid transparent;
    border-radius: 5px;
}
.header-call-back {
    margin-right: auto;
}
.header-call-back .btn {
    padding: 10px 15px 11px;
    background: #b5d8f7;
    border: 2px solid transparent;
    border-radius: 10px;
    line-height: 1em;
    text-transform: none;
}
.btn {
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    border: none;
    background: none;
    -webkit-transition: .35s;
    transition: .35s;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    padding: 16px 22px;
    border-radius: 10px;
    color: #252525;
}
.header-call-back img {
    vertical-align: middle;
    margin-right: 10px;
}
.header-call-back span {
    font-size: 14px;
    line-height: 1em;
    font-weight: bold;
    color: #252525;
    vertical-align: middle;
}

@media (max-width: 1599px) {
    .header-call-back .btn {
        padding: 5px 10px 6px;
    }
    .header-call-back img {
        margin-right: 5px;
    }
    .header-call-back span {
        font-size: 12px;
    }
}

@media (hover: hover) and (min-width: 1200px), (-ms-high-contrast: none) {
    .header-call-back .btn:hover {
        background: #fff;
        border: 2px solid #b5d8f7;
    }
}

.header-info {
    text-align: center;
    margin-right: auto;
}
.header-phone {
    font-size: 18px;
    font-weight: bold;
    line-height: 1em;
    color: #252525;
    -webkit-transition: .35s;
    transition: .35s;
}
.header-phone:hover {
    color: $primary;
}
@media (max-width: 1599px) {
    .header-phone {
        font-size: 16px;
    }
}
.header-work-time {
    font-size: 14px;
    line-height: 1.2em;
}
@media (max-width: 1599px) {
    .header-work-time {
        font-size: 12px;
        line-height: 1em;
    }
}
b, strong {
    font-weight: bold;
    color: #252525;
}
.header-user {
    padding: 9px;
    border: 2px solid transparent;
    border-radius: 10px;
    -webkit-transition: .35s;
    transition: .35s;
    margin-right: auto;
}
.header-basket {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 154px;
    width: 100%;
    height: 95px;
    cursor: pointer;
}
@media (max-width: 1599px) {
    .header-basket {
        max-width: 134px;
    }
}
.header-basket::before {
    content: '';
    background: $primary;
    position: absolute;
    left: 0;
    width: 100%;
    height: 95px;
    z-index: -1;
    -webkit-transition: .35s;
    transition: .35s;
}
.header-basket i {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.header-basket i span {
    position: absolute;
    top: 0;
    right: -7px;
    color: #252525;
    line-height: 1em;
    font-size: 14px;
    font-style: normal;
    padding-top: 6px;
    background-color: #fff;
    -webkit-transition: .35s;
    transition: .35s;
    min-width: 26px;
    max-width: 36px;
    height: 26px;
    border-radius: 100%;
    text-align: center;
}
@media (max-width: 1599px) {
    .header-basket i span {
        font-size: 12px;
        padding-top: 5px;
        min-width: 22px;
        height: 22px;
    }
}
.basket-price {
    display: inline-block;
    vertical-align: middle;
}
@media (max-width: 1599px) {
    .basket-price {
        font-size: 16px;
    }
}
.basket-price span {
    color: #252525;
}
.header {
    box-shadow: none; /* Початкове значення тіні - відсутня тінь */
    transition: box-shadow 0.3s ease; /* Плавний перехід для тіні */
}
.header.with-shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Значення тіні після прокручування */
}
.cart {
    position: fixed;
    right: 0;
    width: 664px;
    z-index: 99;
    background-color: #fff;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-top: 1px solid #dcdcdc;
    border-radius: 0 0 10px 10px;
    opacity: 0;
    transition: opacity .35s ease-in-out;
    .cart-popup-out {
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 100%;
        .cart_items {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            overflow: auto;
            max-height: 100%;
            max-height: calc(100vh - 200px);
            padding: 0;
            .prod_horiz+.prod_horiz {
                border-top: 1px solid #dcdcdc;
            }
            .prod_horiz {
                position: relative;
                padding: 9px 20px;
                min-height: 100px;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: start;
                -ms-flex-pack: start;
                justify-content: flex-start;
                .prod_horiz-img {
                    display: flex;
                    -webkit-box-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    justify-content: center;
                    width: 122px;
                    height: 92px;
                    -ms-flex-negative: 0;
                    flex-shrink: 0;
                    align-self: flex-start;
                    position: relative;
                    .img {
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                        width: 100%;
                    }
                }
                .prod_horiz-img:hover {
                    opacity: .7;
                }
                .prod_horiz-desc {
                    padding: 0 10px 0 20px;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-box-pack: justify;
                    justify-content: space-between;
                    width: 100%;
                    .title {
                        position: relative;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        max-height: 4em;
                        font-size: 16px;
                        line-height: 1em;
                    }
                    a.title:hover {
                        color: $primary;
                    }
                    .prod_horiz-controls {
                        display: flex;
                        -webkit-box-align: center;
                        align-items: center;
                        .thumb-input-number {
                            display: inline-flex;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            border: 1px solid #dcdcdc;
                            border-radius: 10px;
                            color: #252525;
                            font-size: 16px;
                            line-height: 16px;
                            margin-right: auto;
                            margin-left: auto;
                            -ms-flex-negative: 0;
                            flex-shrink: 0;
                            width: 110px;
                            button {
                                width: 32px;
                                height: 36px;
                                cursor: pointer;
                                background: 0 0;
                                -webkit-transition: .35s;
                                transition: .35s;
                                font-size: 24px;
                                line-height: 24px;
                                color: #5a5a5a;
                                background-color: #fff;
                                border-radius: 10px;
                                padding-bottom: 2px;
                                margin: 4px;
                                border: none;
                            }
                            button:hover {
                                background-color: $primary;
                            }
                            button:first-child {
                                font-size: 30px;
                            }
                            input {
                                width: 30px;
                                height: 44px;
                                font-weight: 600;
                                text-align: center;
                            }
                        }
                        .price_default {
                            width: 90px;
                            text-align: center;
                            line-height: 1em;
                            margin: 0 5px;
                            font-size: 16px;
                        }
                        .btn-close-1 {
                            width: 14px;
                            height: 20px;
                            cursor: pointer;
                            position: relative;
                            border: none;
                            background: 0;
                            .trash {
                                width: 14px;
                                height: 16px;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%,-50%);
                            }
                            .trash:before {
                                content: '';
                                position: absolute;
                                bottom: -1px;
                                left: 50%;
                                transform: translate(-50%,0);
                                width: 10px;
                                height: 12px;
                                background: #5a5a5a;
                                border-radius: 0 0 3px 3px;
                                transition: .35s;
                            }
                            .trash:hover:before {
                                background: $primary;
                            }
                            .trash:after {
                                content: '';
                                position: absolute;
                                width: 100%;
                                height: 4px;
                                left: 50%;
                                top: 0;
                                transform: translate(-50%,0);
                                clip-path: polygon(35% 0,65% 0,75% 50%,100% 50%,100% 100%,0 100%,0 50%,25% 50%);
                                background: #5a5a5a;
                                transition: .35s;
                            }
                            .trash:hover:after {
                                top: -4px;
                                background: $primary;
                            }
                        }
                    }
                }
            }
            .cart-empty-message {
                max-width: 100%;
                padding: 15px 0;
                margin: 0 auto;
                text-align: center;
                .cart-empty-img {
                    max-width: 100px;
                    margin: 0 auto;
                    img {
                        width: 100px;
                    }
                }
                .title {
                    margin-bottom: 15px;
                }
                .btn {
                    display: inline-block;
                    vertical-align: bottom;
                    text-align: center;
                    position: relative;
                    cursor: pointer;
                    text-decoration: none;
                    transition: .35s;
                    text-transform: uppercase;
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 700;
                    padding: 16px 22px;
                    border-radius: 10px;
                    color: #252525;
                }
                .btn-primary {
                    border: 2px solid $primary;
                    background: $primary;
                }
                .btn-primary:hover {
                    background: #fff;
                }
            }
        }
        .bg-mono {
            background-color: #b5d8f7;
            background-image: url('https://monosushi.com.ua/wp-content/themes/monosushi/img/bg-monosushi-logo.svg'),url('https://monosushi.com.ua/wp-content/themes/monosushi/img/bg-monosushi-logo.svg');
            background-repeat: repeat;
            background-position: 0 0,190px -52px;
        }
        .cart_bottom {
            padding: 20px;
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            align-items: center;
            margin-top: auto;
            border-radius: 0 0 10px 10px;
            .cart_price-wrap {
                color: #252525;
            }
            .card-total-price {
                font-size: 130%;
            }
            .btn {
                display: inline-block;
                vertical-align: bottom;
                text-align: center;
                position: relative;
                cursor: pointer;
                text-decoration: none;
                transition: .35s;
                text-transform: uppercase;
                font-size: 16px;
                line-height: 20px;
                font-weight: 700;
                padding: 16px 22px;
                border-radius: 10px;
                color: #252525;
            }
            .btn-secondary {
                border: 2px solid #fff;
                background: #fff;
            }
            .btn-secondary:hover {
                background: 0 0;
            }
            .btn {
                margin-left: 10px;
                -ms-flex-negative: 0;
                flex-shrink: 0;
                text-transform: unset;
            }
            .disabled {
                pointer-events: none; /* Забороняє взаємодію з кнопкою */
                opacity: 0.5; /* Змінює прозорість кнопки для позначення її неактивності */
                cursor: not-allowed; /* Змінює вигляд курсора */
              }
        }
    }
}
.cart.active {
    top: 110px;
    max-height: calc(100vh - 110px);
    height: auto;
    opacity: 1;
    visibility: visible;
    top: 95px;
    max-height: calc(100vh - 95px);
}
.cart_bg-layer {
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.41);
}
.cart.active+.cart_bg-layer {
    opacity: 1;
    visibility: visible;
    backdrop-filter: blur(2px);
    transition: all .35s,backdrop-filter .1s .25s,-webkit-backdrop-filter .1s .25s;
}
.fade-in {
    animation: fade-in-animation 0.5s ease-in-out;
}

@keyframes fade-in-animation {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

b, strong {
    font-weight: 700;
    color: #252525;
}
h5, .h5 {
    font-size: 20px;
    line-height: 1.75em;
}
input, textarea, select {
    border-radius: 0;
    background: 0 0;
    border: none;
    margin: 0;
    padding: 0;
}
.title {
    color: #252525;
    font-weight: 700;
}
.img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    vertical-align: top;
}

.navbar:last-child {
    margin: 0;
    padding: 0;
    display: block;
}
.bottom-menu {
    position: sticky;
    bottom: 0;
    z-index: 100;
    .main-nav {
        border-top: 1px solid #DCDCDC;
        background: #fff;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        display: flex;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        height: 60px;
        padding: 0;
        margin: 0;
        li {
            width: 100%;
            height: 50px;
            border: none;
            text-align: left;
            transition: .35s;
            text-transform: capitalize;
        }
        .border {
            position: relative;
            cursor: pointer;
            border: none;
        }
        a {
            width: 100%;
            height: 100%;
            display: block;
            position: relative;
            text-align: center;
            div {
                position: relative;
                left: 0;
                bottom: 0;
                top: 0;
                transform: translate(0);
                height: 100%;
                img {
                    display: block;
                    margin: 0 auto;
                    width: 28px;
                    height: 30px;
                    vertical-align: middle;
                }
                span {
                    font-weight: bold;
                    color: #252525;
                    font-size: 14px;
                    line-height: 1em;
                    vertical-align: middle;
                    margin: 5px 0 0;
                    display: block;
                }
            }
        }
    }
}


@media (max-width: 992px) {
  .collapse {
    background-color: #ffffff;
    padding: 15px;
  }
  .show {
    z-index: 100;
  }
  .header-info {
    text-align: left;
    margin-bottom: 10px;
  }
  .secondary-nav li {
    font-weight: bold;
    width: max-content;
  }
  .header-basket {
    height: 60px;
  }
  .header-basket::before {
    height: 60px;
    border-radius: 5px;
  }
  .header-call-back {
    margin-bottom: 10px;
  }
  .header-user {
    margin-bottom: 10px;
  }
}


@media (max-width: 767px) {
    .header {
        height: 60px;
    }
    .sushi-brand {
        width: 70px;
        height: 60px;
        padding: 0 15px;
        img {
            width: 40px;
        }
    }

    .cart {
        width: 100%;
    }
    .cart.active {
        top: 60px;
    }
    .cart .cart-popup-out .cart_items .prod_horiz {
        padding: 5px;
        .prod_horiz-img {
            width: 102px;
            height: 82px;
        }
        .prod_horiz-desc {
            padding: 0 10px;
            flex-wrap: wrap;
            .prod_horiz-controls {
                width: 100%;
                margin-top: 10px;
                .thumb-input-number {
                    width: max-content;
                    margin-left: 0;
                    button {
                        width: 25px;
                        height: 30px;
                        border: none;
                        padding-bottom: 0;
                        margin: 2px;
                        font-size: 24px;
                        line-height: 24px;
                    }
                    input {
                        width: 20px;
                        height: 34px;
                        font-size: 13px;
                        line-height: 37px;
                    }
                }
            }
        }
    }
    .cart .cart-popup-out .cart_bottom {
        padding: 10px 15px;
        .cart_price-wrap {
            font-size: 14px;
            .card-total-price {
                font-size: 110%;
            }
        }
        .btn {
            padding: 8px 10px;
            font-size: 12px;
            line-height: 16px;
        }
    }
}








