<form class="form" id="user-edit-form" [formGroup]="changePasswordForm"
      (ngSubmit)="changePassword()">
  <div class="form-group">
    <div class="form-title title">
      <h5>Зміна паролю</h5>
    </div>
    <input class="input invalid" formControlName="old_password" name="old_password" type="password" inputmode="numeric"
           placeholder="*Ваш поточний пароль" value="" required="" aria-invalid="true">
    <input type="password" formControlName="password" name="password" class="input invalid" placeholder="*Новий пароль"
           value="" required="">
    <input type="password" formControlName="password2" name="password2" class="input invalid" placeholder="*Повторіть пароль"
           value="" required="">
  </div>
  <div class="cabinet_address-buttons">
    <button class="btn btn-fix-2 btn-four open-popup js-clear-address-fields" data-rel="address"
            type="button">Скасувати</button>
    <button class="btn btn-fix-2 btn-primary" type="submit" [disabled]="changePasswordForm.invalid">Зберегти зміни</button>
  </div>
</form>
