<form class="form" id="user-edit-form">
  <div class="form-group">
    <div class="form-title title">
      <h5>Зміна паролю</h5>
    </div>
    <input class="input invalid" name="old_password" type="password" inputmode="numeric"
           placeholder="*Ваш поточний пароль" value="" required="" aria-invalid="true">
    <input type="password" name="password" class="input invalid" placeholder="*Новий пароль"
           value="" required="">
    <input type="password" name="password2" class="input invalid" placeholder="*Повторіть пароль"
           value="" required="">
  </div>
  <div class="cabinet_address-buttons">
    <button class="btn btn-fix-2 btn-four open-popup js-clear-address-fields" data-rel="address"
            type="button">Скасувати</button>
    <button class="btn btn-fix-2 btn-primary" type="submit">Зберегти зміни</button>
  </div>
  <!-- <a class="btn btn-primary logout" style="margin-top: 20px" href="https://monosushi.com.ua/wp-login.php?action=logout&amp;redirect_to=https%3A%2F%2Fmonosushi.com.ua&amp;_wpnonce=3ac1888b1a">Вихід</a> -->
</form>
