<div class="row mx-0">
    <div class="col-5 m-auto">
        <div class="popup-container size-1" style="margin: 100px auto;">
            <div class="popup-align text-center text">
                <div class="popup-title h4"><b>Вхід в кабінет</b></div>
                <form [formGroup]="authForm" (ngSubmit)="loginUser()" class="form popup-form" id="login-form">
                    <input formControlName="email" type="email" class="input" name="login" placeholder="*Ваш email" required="">
                    <input formControlName="password" type="password" class="input" name="password" placeholder="*Пароль" required="">
                    <button [disabled]="authForm.invalid" class="btn btn-primary btn-block" type="submit">Увійти в кабінет</button>
                    <div class="error-message"></div>
                </form>
                <!-- <div class="d-flex justify-content-between">
                    <a class="open-popup" data-rel="2">Забули пароль?</a>
                    <a class="open-popup" data-rel="3">Зареєструватись</a>
                </div> -->
            </div>
            <!-- <button class="btn-close close-popup"><span></span></button> -->
        </div>
    </div>
</div>