@import "../../shared/styles/variables";

.table>:not(:first-child) {
  border-top: 3px solid $primary;
}
.table>:not(caption)>*>* {
  padding: 0.8rem 0.5rem;
}

th, td {
  color: #5a5a5a;
  font-weight: normal;
  vertical-align: middle;
}
.box-button-2 button {
  border: none;
  background: none;
}
.completed {
  color: #00ca00;
  position: relative;
}
.completed::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background: #00b839;
  border-radius: 50%;
  left: -2px;
  top: 13px;
}

.empty-history {
  margin-top: 35px;
}

@media (max-width: 1200px) {
  table {
    font-size: 14px;
  }
}
@media (max-width: 997px) {
  table {
    font-size: 12px;
  }
  .table>:not(caption)>*>* {
    padding: 0.3rem 0.2rem;
  }
}
@media (max-width: 768px) {
  table {
    font-size: 10px;
  }
  tbody {
    line-height: 10px;
  }
  .completed {
    padding: 0;
  }
  .completed::before {
    display: none;
  }
}
@media (max-width: 420px) {
  table {
    font-size: 8px;
  }
}
